<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath"
         value="D:\My Projects\Tournament-Tracker\TextData"/>
    <add key="greaterWins" value="1"/>

  </appSettings>
  <connectionStrings>
    <add name="Tournaments"
         connectionString="Data Source= DESKTOP-HIRAL\MSSQLSERVER_HS;
         User id=sa;Password=sa@123;
         Initial Catalog=Tournaments;"
         providerName="System.Data.SqlClient"
     />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>